.app{
    height: 100vh;
    .section{
        width: 100%;
        height: calc(100vh - 70px);
        background-color: rgba(25, 120, 76, 0.337);
        position: relative;
        top: 70px;

        >*{
            width: 100vw;
            height: calc(100vh - 70px);
        }
    }
}